.article {
    display: flex;
    line-height: 24px;
    white-space: nowrap;
    margin: 10px 0;
    padding: 10px;
    background: #f7be16;
    border: 1px solid #F9D56A;
  }
  
  .article > span {
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 5px;
  }